.peanuts-toolbox-expander {
    display: block;
    position: absolute;
    background: brown no-repeat;
    height: 64px;
    width: 32px;
    top: 336px;
    right: 270px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    &:before {
        content:'P';
    }
}

.show-toolbox {
    .peanuts-toolbox-expander.active {
        &:before{
            content:'X';
        }
    }
}

#sxa-toolbox-root.hidden {
    display: none;
}

#sxa-toolbox.peanuts-active {
    border-color: brown;
    .sxa-toolbox-header {
        background: brown;
        .sxa-toggle-device {
            display: none;
        }
    }
}
.sxa-toolbox-header {
    transition: 300ms linear;
}

.peanuts-panel-title {
    background: #474747;
    padding: 10px;
    color: white;
    font-size: 15px;
}
.peanuts-info-title {
    font-weight: 600;
}
.peanuts-panel {
    background: #f7f7f7;
    &.childrenHavePadding > * {
        padding: 5px
    }
}
.component-block {
    .component-name {
        display: flex;
        align-items: center;
        background-color: #969696;
        border-bottom: 1px solid #7f8c8d;
        font-weight: 600;
        font-family: "Open Sans",Arial,sans-serif;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        transition: 1s ease;
        & > * {
            padding: 10px;
        }
        span:hover {
            background-color: #292929;
        }
        .name {
            flex-grow: 1;
        }
        .component-more-info {
            vertical-align: baseline;
            border-left: 1px solid #7f8c8d;
        }
    }

    .component-info {
        height: 0;
        // padding-top: 15px;
        overflow: hidden;
    }

    &.show-info {
        .component-info {
            height: auto;
            padding: 10px 10px 10px 20px;
        }
    }

    .component-variant {
        display: flex;
        padding-top: 10px;
        align-items: center;
        img {
            padding: 0 5px;
        }
    }

    .component-rules {
        padding-top: 10px;
        ul {
            padding-top: 5px;
            padding-left: 20px;
            list-style: disc;
            font-size: 13px;
        }
    }
}