<?xml version="1.0"?>
<appSettings>
    <add key="EmailReminder.FromAddress" value="name@server.net" />
    <!-- NetSpell directory -->
    <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
    <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <!-- Telerik keys -->
    <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="KMrhmoljz24RMdNEsapfPuEI84eD5XmJNH45zO4kg22Z31jCMoyHJwNpOuAWG37cw1lMbCHZHemiwtd2hgJmp0mt3fDHStpglgj3TVfOa4Q827Lds9LiSbHh4Q0WqcxRTo3fD4XUso7l1tExn3SDbxiMWp1rfKq0H6VUSBG75a0xg2kjPLHb8OFAgMn5GU2r9pxHXT6HNzrnggDzDxjjM8UbwZZz6Nf0wjZJJDV58TpC24QbzgGWm0nqPK7A4suT" />
    <add key="Telerik.Upload.ConfigurationHashKey" value="uEfrQIQ8safkIWR6OD5Xnx0PwNB5SGPRoTJubkABqSaXjZ6jiJA0jSE7LvIE0R24CQtdu3DAyp4hsQl4HX5pyNXvcxjjvGgSSTk5wJTWELcSVsECwfW3st2a4wEEiyMdKUinM6qPA2apRYPd0xaxvSSy10HWtNkrhYIGpujVtEcJS7vow4NozgRPB49NwaG4b6JHkgNtEVSnbJ9dVubKmFGoozpYvAJeQa4gTX5dOxlTcEltz9dUk4Qvz42XaADo" />
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="CfowxdT51kTiRlXS2EYGCs0wYbSQ6ZXVylSmK2fAX8mriQr4IIunS7mC554mkqcpcilxjJt5Qj9AhFE43KJm6wfedz3vlAeMTX8F7n0shHCsTdkgsQCCGt9p6McxrqatjWoE9YsC9w15EVCUmfmZB7N8JQRUeAB5LnTe50SM9DxxlnsydvgJiA85BzBZssJtQuwm6pjqgWvSIjpavrmbd5i9uoAeqdqjVP58sv0UbmXBuYHMTk7k2dE9yMade3AB" />
    <!-- Throttle concurrent requests per session specifies how many requests with same Session ID are allowed to be executed simultaneously. -->
    <add key="aspnet:RequestQueueLimitPerSession" value="25" />
    <!-- SUPPORTED SERVER ROLES     
         Specify the roles that you want this server to perform. A server can perform one or more roles. Enter the roles in a comma separated list. The supported roles are:

         ContentDelivery
         ContentManagement
         Processing
         Reporting
         Standalone
          
    Default value: Standalone
    -->
  
  <add key="role:define" value="Standalone" />
  <!-- SUPPORTED SEARCH PROVIDERS     
         Specify the search provider that you want this server to use. The supported search providers are:
    
         Lucene
         Solr
         Azure
    
    Default value: Lucene
    -->
  <add key="search:define" value="Solr" />
  <add key="security:define" value="Sitecore" />
  <add key="owin:appStartup" value="Sitecore.Owin.Startup, Sitecore.Owin" />
  <add key="AllowInvalidClientCertificates" value="false" />
  <!-- SUPPORTED EDS PROVIDERS     
				 Specify the Email Delivery provider that you want this server to use. The supported providers are:
			
				 CustomSmtp
				 EmailCloud
			-->
  <add key="eds:define" value="CustomSMTP" />
  <!-- EXM Enabled
				 Set this to anything other than 'yes' to disable EXM and its configuration.         
			-->
  <add key="exmEnabled:define" value="no" />
  <add key="env:define" value="Local" />

    <!-- Habitat -->
    <add key="sxaxm:define" value="sxaxconnect" />
    <add key="unicorn:define" value="On"/>
    <add key="integrations:define" value="None"/>
</appSettings>